@page "/inventory"
@using BlazorApp.Model
@using BlazorApp.Component

<PageTitle>@Localizer["Inventory"]</PageTitle>

<div class="container">
  <div class="left">
    <h3>@Localizer["My inventory"]</h3>
        <div class="inventory">
            @for(int i=0;i<18;i++){
                <CraftingItem Index="i"/>
            }
        </div>
  </div>
  <div class="right">
      <h3>@Localizer["List of items"]</h3>
      <h5>@Localizer["Search:"] <input type="text" @bind="SearchTerm"/> <button type="button" @onclick="() => OnInput()"><i class="oi oi-magnifying-glass"></i></button></h5>
      <DataGrid TItem="Item"
                Data="@items"
                ReadData="@OnReadData"
                TotalItems="@totalItem"
                PageSize="10"
                ShowPager
                Responsive>
        <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="">
            <DisplayTemplate>
                @if (!string.IsNullOrWhiteSpace(context.ImageBase64))
                {
                    <img src="data:image/png;base64, @(context.ImageBase64)" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="min-width: 50px; max-width: 50px" />
                }
                else
                {
                    <img src="images/default.png" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="max-width: 50px"/>
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Item" Field="@nameof(Item.DisplayName)" Caption="" />
    </DataGrid>
  </div>
</div>