@page "/inventory"
@using BlazorApp.Model
@using BlazorApp.Component

<PageTitle>Inventory</PageTitle>

<div class="container">
  <div class="left">
    <h3>My inventory</h3>
        <div class="inventory">
            <CraftingItem Index="0"/>
            <CraftingItem Index="1"/>
            <CraftingItem Index="2"/>
            <CraftingItem Index="3"/>
            <CraftingItem Index="4"/>
            <CraftingItem Index="5"/>
            <CraftingItem Index="6"/>
            <CraftingItem Index="7"/>
            <CraftingItem Index="8"/>
            <CraftingItem Index="9"/>
            <CraftingItem Index="10"/>
            <CraftingItem Index="11"/>
            <CraftingItem Index="12"/>
            <CraftingItem Index="13"/>
            <CraftingItem Index="14"/>
            <CraftingItem Index="15"/>
            <CraftingItem Index="16"/>
            <CraftingItem Index="17"/>
            <CraftingItem Index="18"/>
            <CraftingItem Index="19"/>
            <CraftingItem Index="20"/>
            <CraftingItem Index="21"/>
            <CraftingItem Index="22"/>
            <CraftingItem Index="23"/>
        </div>
  </div>
  <div class="right">
      <h3>List of items</h3>
      <h5>Search: <input @bind="SearchTerm" @bind:event="oninput" />  <span class="oi oi-magnifying-glass" aria-hidden="true"></span> </h5>
      <DataGrid TItem="Item"
                Data="@items"
                ReadData="@OnReadData"
                TotalItems="@totalItem"
                PageSize="10"
                ShowPager
                Responsive>
        <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="">
            <DisplayTemplate>
                @if (!string.IsNullOrWhiteSpace(context.ImageBase64))
                {
                    <img src="data:image/png;base64, @(context.ImageBase64)" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="min-width: 50px; max-width: 50px" />
                }
                else
                {
                    <img src="images/default.png" class="img-thumbnail" title="@context.DisplayName" alt="@context.DisplayName" style="max-width: 50px"/>
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="Item" Field="@nameof(Item.DisplayName)" Caption="" />
    </DataGrid>
  </div>
</div>