<div
    class="item"
    ondragover="event.preventDefault();"
    draggable="true"
    @ondragstart="@OnDragStart"
    @ondrop="@OnDrop"
    @ondragenter="@OnDragEnter"
    @ondragleave="@OnDragLeave"
    align="center">

    @if (Item != null)
    {
        @if (!string.IsNullOrWhiteSpace(@Item.ImageBase64))
        {
            <img src="data:image/png;base64, @(@Item.ImageBase64)" class="img-thumbnail" title="@Item.DisplayName" alt="@Item.DisplayName" style="min-width: 40px; max-width: 40px" />
        }
        else
        {
            <img src="images/default.png" class="img-thumbnail" title="@Item.DisplayName" alt="@Item.DisplayName" style="max-width: 40px"/>
        }
    @Item.DisplayName
    }
</div>